:root {
  --main-bg-color: rgb(32, 32, 32);
  --main-green-color: #76b39d;
  font-size: 12px;
}

body {
  background-color: var(--main-bg-color);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Header Styles */

.icon {
  /* position: absolute;
  left: -46px; */
  color: var(--main-green-color);
}

.plus-circle-container {
  display: flex;
  justify-content: center;
}

.link-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.link-container > a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 2rem;
}

.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-container > button {
  margin: 10px;
  padding: 14px 24px;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-green-color);
  color: var(--main-green-color);
  border-radius: 300px;
  font-size: 18px;
}

.signin-container span > img {
  max-width: 25px;
  align-items: center;
}

.main-container {
  background-color: var(--main-bg-color);
  height: 60vh;
}

/* Body Styles */
.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--main-bg-color);
}

.body-container > h1 {
  color: white;
  margin: 20px;
  font-weight: 400;
  font-size: 3.5rem;
}

.body-container > h3 {
  font-size: 2.7rem;
  font-weight: 300;
  color: var(--main-green-color);
}

label {
  color: white;
  font-size: 20px;
  margin: 10px;
  padding: 5px 10px 0px 10px;
}

label > select {
  width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 250px;
  color: black;
  background-color: rgb(177, 177, 177);
  border-radius: 5px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.1));
}

.list-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s;
}

.item-container img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 150px;
  border-radius: 8px;
}

.filter-container {
  display: flex;
}

.filter-container > label {
  font-size: 18px;
}

.react-select__control {
  width: 250px;
  font-size: 16px;
}

.react-select__menu {
  font-size: 14px;
}

.spotify-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* Grid Layouts */
.grid-divider {
  margin-top: 100px;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(100px, 250px));
  width: 90vw;
  height: 60vh;
  align-items: baseline;
  position: relative;
}

.grid-divider-two {
  display: grid;
  gap: 20px;
  /* transform: scale(0.8); */
  max-width: 80vw;
}

/* Bookshelf Styles */
.bookshelf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 3;
}

.bookshelf-container2 {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  justify-items: center;
  width: auto;
  margin-bottom: 30px;
  align-items: end;
}

.bookshelf,
.bookshelf2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--main-bg-color);
  gap: 1px;
}

.bookshelf2 {
  width: 100%;
  margin: auto;
}

.book,
.book2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.book {
  min-width: 15px;
  max-width: 35px;
}

.book2 {
  width: 30px;
}

.book2:hover {
  transform: scale(1.1) rotate(10deg) translate(10px, -10px);
  transition: all 0.5s ease;
  z-index: 10;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.book-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-title,
.book-title2 {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  color: transparent;
}

/* Podcast Styles */
.podcast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
}

.podcastshelf,
.podcastshelf2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--main-bg-color);
  gap: 1px;
}

.podcastshelf2 {
  flex-wrap: wrap;
}

.podcast,
.podcast2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.podcast {
  min-width: 50px;
  height: auto;
}

.podcast2 {
  width: 150px;
}

.podcast2:hover {
  transform: scale(1.1) rotate(380deg) translate(10px, -10px);
  transition: all 0.6s ease;
  z-index: 10;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.podcast-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.podcast-title {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  color: transparent;
}

.shelf-image,
.shelf-image2 {
  width: 100%;
  height: auto;

  border-radius: 0.01px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shelf-image2 {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

/* Buttons */
.podcast-button,
.book-button {
  position: absolute;
  top: 22%;
  padding: 50px 150px;
  font-size: 54px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.podcast-button:active,
.book-button:active {
  background-color: var(--main-green-color);
}

.top-picks-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 200px;
  margin: auto;
  height: 20px;
  font-size: 22px;
  color: white;
  background-color: transparent;
  border: 3px solid var(--main-green-color);
  border-radius: 100px;
}

.top-picks-button > span {
  margin-right: 10px;
  font-size: 28px;
}

.top-picks-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  font-size: 20px;
  color: white;
}

.top-picks-list a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.upperCheckboxes {
  display: flex;
  background-color: rgb(32, 32, 32);
  border-right: 0.5px solid #76b39d;
  border-left: 0.5px solid #76b39d;
  justify-content: space-around;
  padding-top: 10px;
}

.upperCheckboxes label {
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.upperCheckboxes input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid #76b39d;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.upperCheckboxes input[type="checkbox"]:checked {
  background-color: white;
  border-color: #76b39d;
}

.upperCheckboxes input[type="checkbox"]:checked::before {
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

.upperCheckboxes input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .body-container {
    padding: 0;
    overflow-y: auto;
    display: block;
    max-height: 100vh;
  }

  .body-container > h1 {
    font-size: 3rem;
  }

  .body-container > h3 {
    font-size: 2.2rem;
    margin: 0 20px;
  }

  .grid-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100vw;
  }

  .grid-divider-two {
    overflow-y: auto;
    max-height: 80vh;
  }

  .bookshelf-container {
    transform: scale(0.8);
  }

  .bookshelf-container2 {
    grid-template-columns: repeat(15, 30px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .podcast-button,
  .book-button {
    position: relative;
    padding: 30px 80px;
    font-size: 3rem;
  }

  .top-picks-button {
    padding: 20px 80px;
  }

  .podcast2 {
    width: 145px;
  }

  .filter-container {
    display: none;
  }

  .top-picks-list {
    margin-left: 15px;
  }

  body {
    overflow-y: hidden;
  }

  .PrivateSwitchBase-input {
    background-color: red;
  }

  .PrivateSwitchBase-input:checked {
    background-color: red;
  }

  .top-picks-list {
    margin-left: 10px;
  }

  label {
    color: black;
    padding: 0px;
    margin: 0px;
  }

  .top-picks-list {
    font-size: 1.2rem;
  }
}
